ansible==2.9.20
httplib2==0.9.2
Jinja2==2.10
jsonpickle==0.9.6
keystoneauth1==3.9.0
openstacksdk==0.14.0
os-client-config==1.31.2
prettytable==0.7.2
python-cinderclient==3.6.1
python-glanceclient==2.11.1
python-ironicclient==2.4.0
python-keystoneclient==3.17.0
python-linux-procfs==0.4.9
python-novaclient==10.3.0
python-openstackclient==3.15.0
PyYAML==3.12
requests==2.18.4
requestsexceptions==1.4.0
rfc3986==1.1.0
shade==1.28.0
simplejson==3.15.0
subprocess32==3.5.2
urllib3==1.22
