{
  "virtual-network": {
    "parent_type": "project",
    "fq_name": [
      "default-domain",
      "HR-dev",
      "dbvndev"
    ],
    "fabric_snat": true,
    "tag_refs": [
      {
        "attr": "None",
        "to": [
          "tier=db"
        ]
      }
    ],
    "route_target_list": {
      "route_target": [
        "target:6300:123"
      ]
    },
    "network_ipam_refs": [
      {
        "to": [
          "default-domain",
          "HR-dev",
          "ipam-Dev"
        ],
        "attr": {
          "ipam_subnets": [
            {
              "subnet": {
                "ip_prefix": "4.4.4.0",
                "ip_prefix_len": 24
              },
              "addr_from_start": true,
              "enable_dhcp": true,
              "default_gateway": "4.4.4.1"
            }
          ]
        }
      }
    ]
  }
}
